# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=tasisto_user
DB_PASSWORD=cambia_esto
DB_NAME=tasisto

# Backend
JWT_SECRET=cambia_esto_por_un_string_largo_y_seguro
PORT=3001

# Admin inicial
ADMIN_USER=admin
ADMIN_PASS=cambia_esto
